<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>
    
    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <h1>Clientes</h1>

            <p><a th:href="@{/cliente/novo}"class="btn btn-primary btn-lg">Novo</a></p>

            <table class="table">
                <thead>
                    <th>Nome</th>
                    <th>Sexo</th>
                    <th>Data de nascimento</th>
                </thead>
                <tbody>
                    <tr th:each="umcliente : ${listaclientes}">
                        <td th:text="${umcliente.nome}"></td>
                        <td th:text="${umcliente.sexo}"></td>
                        <td th:text="${umcliente.dataNascimento}"></td>
                    </tr>
                </tbody>
            </table>
        </div>


       <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html>