<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>
    
    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <h1>Clientes</h1>

            <p><a th:href="@{/cliente/novo}"class="btn btn-primary btn-lg">Novo</a></p>

            <table class="table" id="clientes">
                <thead class="thead-light">
                    <th scope="col">Nome</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Data de nascimento</th>
                    <th scope="col">Id</th>
                    <th scope="col">Data</th>
                    <th scope="col">Número Arquivos</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr th:each="umcliente : ${listaclientes}">
                        <td th:text="${umcliente.nome}"></td>
                        <td th:text="${umcliente.sexo}"></td>
                        <td th:text="${umcliente.dataNascimento}"></td>
                        <td th:text="${umcliente.id}"></td>
                        <td th:text="${umcliente.data}"></td>
                        <td th:text="${umcliente.itens.size()}"></td>
                        <td>
                            <a th:href="@{'/cliente/detalhar/' + ${umcliente.id}}" class="btn btn-warning">Detalhar</a>
                            <a th:href="@{'/cliente/alterar/' + ${umcliente.id}}" class="btn btn-primary">Alterar</a>
                            <button class='btn btn-danger js-delete'
                                th:data-id="${umcliente.id}"><span class="oi oi-bug"></span>Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
       <div th:include="layout :: footer" id="footer">(footer)</div>
       <script type="text/javascript">
        $(document).ready(function(){

            $("#clientes").on("click", ".js-delete", function(){
                    var button = $(this);
                    bootbox.confirm("Você tem certeza que quer excluir este cliente?",function(result){
                        if(result){
                            $.ajax({
                                url: "/cliente/delete/" + button.attr("data-id"),
                                method: "GET",
                                success: function () {
                                    window.location.href = "/cliente/"
                                }
                            });
                        }
                    });
                });
        });
       </script>
    </body>
</html>