<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>
    
    <body class="bg">
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <h1>Bem vindo!</h1>
            <h3>
                O sistema de cadastro de dados Sindipesca tem como objetivo fornecer um cadastro de informações de clientes simples e eficaz.
            </h3>
        </div>
    <!--.mask -->\
    
    <!--.mask -->

       <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html>